

.form_main {
    max-width: 375px;
    margin: 0 auto;
}

.form_h {
    margin-top: 45px;
    font-size: 25px;
}

.from_p {
    font-size: 18px;
    color: #8b8b8b;
    line-height: 30px;
}

.form_text_area_short_one {
    margin: 30px auto;
}

.form_text_area_long {
    margin: 30px auto;
}

.form_btn {
    margin-bottom: 100px;
}

