.container {
  width: 100%;
  background-color: #F6F7F9;

}

.main_one,
.main_two {
  overflow: hidden;
}

.main_one {
  background-color: #F6F7F9;
  width: 90%;
  height: auto;
  margin: 0 auto;

}

.main_two {
  background: #fff;
  padding-top: 32px;
}


.main_two_wrap {
  width: 90%;
  margin: 0 auto;
}